@import "./node_modules/bulma/bulma.sass";

// Generic
body {
    background-color: #b2cecf;
}
.calzet {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
@media (min-width: 768px) {
    .calzet {
      width: 760px;
    }
}
@media (min-width: 992px) {
    .calzet {
        width: 980px;
    }
}
@media (min-width: 1200px) {
    .calzet {
        width: 1180px;
    }
}
// Header CSS
header {
    background-color: #363636;
}
.header {
    height: 75px;
}
.logo {
    width:130px;
    height:60px;
    max-height: none !important;
}
.header .fa-facebook-f, .fa-google-plus-g, .fa-twitter {
    color: whitesmoke;
 }
.header .fa-facebook-f:hover{
    color: #2b55ff;
 }
 .header .fa-google-plus-g:hover {
     color:red;
 }
 .header .fa-twitter:hover{
     color: #00aced;
 }
 .control {
    padding: 4;
 }
 //Tabs
.tabs {
    background-color: #363636;
}
.tabs a {
    color: whitesmoke;
}
.tabs a:hover {
    color: #363636;;
}
//Panels 
.panel {
    padding: 35px;
    border: solid;
    background: whitesmoke;
}
.headerpanel {
    border-bottom: groove;
    padding-bottom: 5;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

//Gallery
.fade-transition {
    transition: all 0.8s ease;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    position: absolute;
}
.fade-enter, .fade-leave {
    opacity: 0;
    visibility: hidden;
}

//Footer
.footer {
    padding: 3rem 1.5rem 3rem;
}