@import "./node_modules/bulma/bulma.sass";

// Generic
html {
    scroll-behavior: smooth;
}
body {
    background-color: #b2cecf;
}
.calzet {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
@media screen and (max-width: 768px) {
    .calzet {
        width: 100%;
        margin-left:auto;
        margin-right:auto;
    }
}
@media (min-width: 768px) {
    .calzet {
      width: 760px;
    }
}
@media (min-width: 992px) {
    .calzet {
        width: 980px;
    }
}
@media (min-width: 1200px) {
    .calzet {
        width: 1180px;
    }
}
// Header CSS
header {
    background-color: #363636;
}
.header {
    height: 75px;
}
.logo {
    width:130px;
    height:60px;
    max-height: none !important;
}
.header .fa-facebook-f, .fa-google-plus-g, .fa-twitter {
    color: whitesmoke;
 }
.header .fa-facebook-f:hover{
    color: #2b55ff;
 }
 .header .fa-google-plus-g:hover {
     color:red;
 }
 .header .fa-twitter:hover{
     color: #00aced;
 }
 .control {
    padding: 4;
 }
 //Tabs
.tabs {
    height: 42px;
    background-color: #363636;
    z-index: 999;
}
.tabs a {
    color: whitesmoke;
}
.tabs a:hover {
    color: #363636;;
}
.fixedTabs {
    position: fixed !important;
    top: 0;
}
//Panels
.panel {
    padding: 35px;
    border: solid;
    background: whitesmoke;
}
.headerpanel {
    border-bottom: groove;
    padding-bottom: 5;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
#maps {
    width: 600px;
    height: 450px;
    border: 0px;
}
@media (max-width: 768px) {
    #maps {
        width: 300px;
        height: 225px;
        border: 0px;
    }
}

//Gallery
.galleryComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height:400px;
}
.gallery {
    height:400px;
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
    img {
        max-width:400px;
        max-height:400px;
        width: auto;
        height: auto;
      }
}
.arrow {
    width: 55px;
    height: 100%;
    max-height:400px;
    background-color: #363636;
    display: flex;
    justify-content: center;
    flex-direction: column;
    i {
        color: whitesmoke;
    }
}
@media screen and (max-width: 768px) {
    .gallery {
        height:200px;
        width:200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #363636;
        img {
            max-width:200px;
            max-height:200px;
            width: auto;
            height: auto;
          }
    }
    .galleryComponent {
        max-height:200px;
    }
    .arrow {
        max-height:200px;
    }
}
// Price Table, Home
.containerPrices, .home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.priceTable {
    box-sizing: border-box;
    max-width: 280px;
    min-width: 250px;
    border: 1px solid #b2cecf;
    border-radius: 10px 10px 10px 10px;
    padding: 40px 20px;
    font: normal normal 300 normal 82px / 82px Arial, Helvetica, Arial;
    text-align: center;
    margin: 20px;
    display: inline-table;

    h3 {
        letter-spacing: 0.27px;
        font: normal normal 600 normal 18px / 18px Arial, Helvetica, Arial;
        margin: 0px 0px 10px;
    }
    .rate {
        color:#363636;
        margin: 0px;
        margin-bottom: 0 !important;
    }
    .currency {
        vertical-align: super;
        font: normal normal 300 normal 41px / 82px Arial, Helvetica, Arial;
    }
    .each {
        font: normal normal 300 normal 16px / 82px Arial, Helvetica, Arial;
    }
    .description {
        //max-width: 280px;
        //width: 272.125px;
        font: normal normal 300 normal 14px / 22.4px Arial, Helvetica, Arial;
        margin: 0px;
    }
}
.slide-fade-enter-active, .slide-fade-leave-active  {
    transition: opacity .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0;
}

//Footer
.footer {
    padding: 3rem 1.5rem 3rem;
}